---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% assign posts = paginator.posts %}
    {% for post in posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></a>

        <h2>
		{% if post.categories contains "guest" %}
          <a class="post-link" href="{{ post.link }}">{{ post.title }} →</a>
		{% else %}
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		{% endif %}
        </h2>
	  {{ post.content }}
    {% include taglist.html %}
	{% include share.html url=post.url title=post.title %}
	<!--a class="post-link" href="{{ post.url | prepend: site.baseurl }}">link</a-->
      </li>
<br /><br /><br />
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<!-- Pagination links -->
<div class="pagination">
	<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> <br />
	
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

